

				.crosshair{cursor:crosshair;}

				.help{cursor:help;}
			

				.move{cursor:move;}

				.pointer{cursor:pointer;}


				.progress{cursor:progress;}


				.wait{cursor:wait;}

			
				.e_resize{cursor: e-resize;}

				.n_resize{cursor: n-resize;}

				.ne_resize{cursor: ne-resize;}

				.nw_resize{cursor: nw-resize;}

				.s_resize{cursor: s-resize;}

				.se_resize{cursor: se-resize;}
				
				.sw_resize{cursor:sw-resize;}

				.w_resize{cursor: w-resize;}
			