*{box-sizing: border-box;}

body{}

form{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* to use vedor prefixes the vedor prefixes are added at the begining of each code... this is used to 
	ensure that the program works smoothly across browsers
*/

	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: rotate(40deg);

	-moz-transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
	-o-transform: rotate(40deg);
/*

transform: scale(-1,-1);

-moz-transform: scale(-1,-1);
-webkit-transform: scale(-1,-1);
-o-transform: scale(-1,-1);

transform: skew(20deg);

-moz-transform: skew(20deg);
-webkit-transform: skew(20deg);
-o-transform: skew(20deg);
*/
/*get formular for matrix tag


transform: matrix(scaleY(2), skewY(0deg),skewX(20deg), scaleX(1),translate(-50%,-50%) );

*/
}

